

@media screen and (max-width: 1600px) {
    .content {
        grid-template-columns: repeat(3, 260px) !important;
        grid-template-rows: repeat(5, 260px) !important;

    }      
}
@media screen and (max-width: 1400px) {
    .content {
        grid-template-columns: repeat(2, 260px) !important;
        grid-template-rows: repeat(8, 260px) !important;

    }      
}
@media screen and (max-width: 700px) {
    .content {
        grid-template-columns: repeat(1, 260px) !important;
        grid-template-rows: repeat(16, 260px) !important;
    }      
    .title h2{
        display: none;
    }
      

    .search{

        padding: 4.2% !important;
        width:100% !important;
      }
      
}